<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="contenedor">
  <header>
    <div class="closedlogo">
      <div class="centrado-derecha">
        <img src="./assets/1.png" alt="Descripción de la imagen">
      </div>
    </div>
    <div class="nav">
      <button>Hola</button>
    </div>
    <div class="div-rojo"></div>

  </header>
 
  <main>
    <app-home></app-home>
  </main>

  <footer>
        <br>
        Av. Jácome Clavijo y Marcos Erazo<br>
        Ambato 180103 - Ecuador<br>
        Telefono: (03)-2400439<br>
        Celular: +593984932278<br>
        <br><br><br>
        Copyright © 2024 - Alpha Ingenieria
        <br><br>
  </footer>

</div>

</body>
</html>