<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <header>
    <div class="centrado-derecha">
      <img src="./assets/1.png" alt="Descripción de la imagen">
    </div>
  </header>

  <div>
    <h2>Contenido Principal</h2>
    <p>Este es el contenido principal de la página.</p>
    <p>El contenido puede ser tan extenso como lo necesites.</p>
  </div>
  
  <footer>
    <div>
      <div class="box">
        <img src="./assets/2.png" alt="Descripción de la imagen">
        <h4>Av. Jácome Clavijo y Marcos Erazo</h4>
        <h4>Teléfono Convencional: 032-400439</h4>
        <h4>Teléfono Celular: +593-984932278</h4>
      </div>
      <div class="box">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d838.549855221833!2d-78.63203565151571!3d-1.2702658546268002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d3822244279925%3A0x53506e0bf9d9b3d9!2sALPHA%20INGENIERIA!5e0!3m2!1ses!2sec!4v1709157825605!5m2!1ses!2sec" 
        width=auto height=auto style="border:0;" allowfullscreen="" loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </footer>
</body>
</html>