<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="contenedor">
  <header>
    <div class="closedlogo">
      <div class="centrado-derecha">
        <img src="./assets/1.png" alt="Descripción de la imagen">
      </div>
    </div>
    
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Features</a>
              <a class="nav-link" href="#">Pricing</a>
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="div-rojo"></div>

  </header>
 
  <main>
    <app-home></app-home>
  </main>

  <footer>
        <br>
        Av. Jácome Clavijo y Marcos Erazo<br>
        Ambato 180103 - Ecuador<br>
        Telefono: (03)-2400439<br>
        Celular: +593984932278<br>
        <br><br><br>
        Copyright © 2024 - Alpha Ingenieria
        <br><br>
  </footer>

</div>

</body>
</html>