.centrado-main {
    text-align: center;
    font-size: 2vh;
    height: auto;
    width: 100%; /* Ancho del div */
    margin: 0%;
  }
  
  .centrado-parrafro {
    text-align: justify;
    font-size: 2vh;
    height: auto;
    width: 40%; /* Ancho del div */
    margin-left: 30%;
  }

  .mis-vis {
    display: flex;
    flex-wrap: wrap;
  }
  
  .mis, .vis {
    flex: 1 1 50%; /* 50% de ancho para cada div */
    min-width: 0; /* Evita que los divs se desborden cuando la pantalla es pequeña */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho */
  }
  
  .centrado-mis-vis {
    text-align: justify;
    font-size: 2vh;
    height: auto;
    width: 60%; /* Ancho del div */
    margin-left: 12vh;
  }