    <!-- <div>
    <gallery 
    [items]="images" style="width: 100%; background-color: #ffff; margin-top: 5%;"/>
    </div> -->
    
    <div class="mis-vis">
      <div class="mis">
        <h3 class="centrado-main" style="color: #B22222; font-family: 'Times New Roman', Times, serif;">
          
          Misión</h3>
        <div class="centrado-parrafro" style="  margin-left: 15%;  margin-right: 15%;">
          <p>Satisfacer los requerimientos de nuestros clientes a través de una atención personalizada buscando no solo proporcionar soluciones, sino construir relaciones sólidas basadas en la confianza y la comprensión de las necesidades individuales. </p>
        </div>
      </div>
      <div class="vis">
        <h3 class="centrado-main" style="color: #B22222; font-family: 'Times New Roman', Times, serif;">Visión</h3>
        <div class="centrado-parrafro" style="  margin-left: 15%;  margin-right: 15%;">
          <p>Trascender como líderes indiscutibles en la industria al ser reconocidos no solo por satisfacer las necesidades inmediatas de nuestros clientes, sino por ser arquitectos de experiencias excepcionales y relaciones sólidas, aspirando a ser la elección natural para aquellos que buscan resultados extraordinarios</p>
        </div>
      </div>
    </div>

    <div style=" width: 100%">
      <h3 class="centrado-main" style="color: #B22222; font-family: 'Times New Roman', Times, serif;">Nuestro Compromiso</h3>
      <div class="centrado-parrafro" style="  margin-left: 30%;  margin-right: 30%;">
      <p>Nos comprometemos a buscar la excelencia constante, ofreciendo un servicio de alta calidad que supere las expectativas convencionales. Reconocemos que la satisfacción del cliente y el éxito del proyecto dependen directamente de la calidad del servicio. Nos mantenemos a la vanguardia de las innovaciones tecnológicas para garantizar eficiencia y resultados destacados en todas nuestras iniciativas.</p>
      </div>
    </div>